<h1>Add a Person</h1> 
<form id='new_person'>
  <input placeholder="First name" name='user[first_name]' required=true />
  <input placeholder="Last name" name='user[last_name]' required=true />
  <input placeholder="Phone number" name='user[phone_number' type="tel" />
  <button class='btn btn-primary' type='submit'>Submit</button>
</form>  